@model ExamenWeb.Models.Visita

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar visita</h2>

<h3>Quieres eliminar esta visita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contacto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de visita")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVisita)
        </dd>

        <dt>
            @Html.DisplayName("Hora de entrada")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayName("Hora de salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayName("Nombre completo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a visitas", "Index")
        </div>
    }
</div>
