@model IEnumerable<ExamenWeb.Models.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Contactos</h2>

<p>
    @Html.ActionLink("Nuevo contacto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayName("Documento de identidad")
        </th>
        <th>
            @Html.DisplayName("Fecha de creacion")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ContactoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ContactoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ContactoID })
        </td>
    </tr>
}

</table>
